*/*/*/*/*/*/*/*/*/*.onetoc*
Open Notebook.onetoc2
eigen/.hg
eigen/.hg/00changelog.i
eigen/.hg/branch
eigen/.hg/cache
eigen/.hg/dirstate
eigen/.hg/hgrc
eigen/.hg/Open Notebook.onetoc2
eigen/.hg/requires
eigen/.hg/store
eigen/.hg/undo.bookmarks
eigen/.hg/undo.branch
eigen/.hg/undo.desc
eigen/.hg/undo.dirstate
build
cpp_helpers/.git/
cpp_helpers/.git
scanviewer
robot_control/.ipynb_checkpoints/
robot_control/pyntcloud_plot.ply
robot_control/pyntcloud_plot.config.json
robot_control/pyntcloud_plot.html
robot_control/pyntcloud_plot_assets/
scanviewer.zip
Presentation/PresentationNotes.log
Presentation/texput.log
Presentation/PresentationNotes.aux
Presentation/PresentationNotes.synctex.gz
final
final.zip
HW07/

