[submodule "cpp_helpers"]
	path = cpp_helpers
	url = https://jwatson_utah_edu@bitbucket.org/jwatson_utah_edu/cpp_helpers.git
[submodule "delaunator-cpp"]
	path = delaunator-cpp
	url = https://github.com/delfrrr/delaunator-cpp.git
