HW07/Open Notebook.onetoc2
HW07/build
HW07/eigen/.git/
HW07/eigen/.hg/00changelog.i
HW07/eigen/.hg/branch
HW07/eigen/.hg/cache
HW07/eigen/.hg/dirstate
HW07/eigen/.hg/hgrc
HW07/eigen/.hg/Open Notebook.onetoc2
HW07/eigen/.hg/requires
HW07/eigen/.hg/store
HW07/eigen/.hg/undo.bookmarks
HW07/eigen/.hg/undo.branch
HW07/eigen/.hg/undo.desc
HW07/eigen/.hg/undo.dirstate
HW07/build/Open Notebook.onetoc2
HW07/cpp_helpers/Open Notebook.onetoc2
HW07/eigen/Open Notebook.onetoc2
HW07/textures/Open Notebook.onetoc2
HW07/build/CMakeFiles/Open Notebook.onetoc2
HW07/cpp_helpers/Learning/Open Notebook.onetoc2
HW07/cpp_helpers/templates/Open Notebook.onetoc2
HW07/eigen/bench/Open Notebook.onetoc2
HW07/eigen/blas/Open Notebook.onetoc2
HW07/eigen/cmake/Open Notebook.onetoc2
HW07/eigen/debug/Open Notebook.onetoc2
HW07/eigen/demos/Open Notebook.onetoc2
HW07/eigen/doc/Open Notebook.onetoc2
HW07/eigen/Eigen/Open Notebook.onetoc2
HW07/eigen/failtest/Open Notebook.onetoc2
HW07/eigen/lapack/Open Notebook.onetoc2
HW07/eigen/scripts/Open Notebook.onetoc2
HW07/eigen/test/Open Notebook.onetoc2
HW07/eigen/unsupported/Open Notebook.onetoc2
HW07/build/CMakeFiles/3.5.1/Open Notebook.onetoc2
HW07/build/CMakeFiles/CMakeTmp/Open Notebook.onetoc2
HW07/build/CMakeFiles/HW6.dir/Open Notebook.onetoc2
HW07/build/CMakeFiles/HW7.dir/Open Notebook.onetoc2
HW07/eigen/bench/btl/Open Notebook.onetoc2
HW07/eigen/bench/perf_monitoring/Open Notebook.onetoc2
HW07/eigen/bench/spbench/Open Notebook.onetoc2
HW07/eigen/bench/tensors/Open Notebook.onetoc2
HW07/eigen/blas/f2c/Open Notebook.onetoc2
HW07/eigen/blas/fortran/Open Notebook.onetoc2
HW07/eigen/blas/testing/Open Notebook.onetoc2
HW07/eigen/debug/gdb/Open Notebook.onetoc2
HW07/eigen/debug/msvc/Open Notebook.onetoc2
HW07/eigen/demos/mandelbrot/Open Notebook.onetoc2
HW07/eigen/demos/mix_eigen_and_c/Open Notebook.onetoc2
HW07/eigen/demos/opengl/Open Notebook.onetoc2
HW07/eigen/doc/examples/Open Notebook.onetoc2
HW07/eigen/doc/snippets/Open Notebook.onetoc2
HW07/eigen/doc/special_examples/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Open Notebook.onetoc2
HW07/eigen/unsupported/bench/Open Notebook.onetoc2
HW07/eigen/unsupported/doc/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/Open Notebook.onetoc2
HW07/eigen/unsupported/test/Open Notebook.onetoc2
HW07/build/CMakeFiles/3.5.1/CompilerIdC/Open Notebook.onetoc2
HW07/build/CMakeFiles/3.5.1/CompilerIdCXX/Open Notebook.onetoc2
HW07/build/CMakeFiles/HW7.dir/cpp_helpers/Open Notebook.onetoc2
HW07/eigen/bench/btl/actions/Open Notebook.onetoc2
HW07/eigen/bench/btl/cmake/Open Notebook.onetoc2
HW07/eigen/bench/btl/data/Open Notebook.onetoc2
HW07/eigen/bench/btl/generic_bench/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/Open Notebook.onetoc2
HW07/eigen/bench/perf_monitoring/resources/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Cholesky/Open Notebook.onetoc2
HW07/eigen/Eigen/src/CholmodSupport/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Eigenvalues/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Geometry/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Householder/Open Notebook.onetoc2
HW07/eigen/Eigen/src/IterativeLinearSolvers/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Jacobi/Open Notebook.onetoc2
HW07/eigen/Eigen/src/KLUSupport/Open Notebook.onetoc2
HW07/eigen/Eigen/src/LU/Open Notebook.onetoc2
HW07/eigen/Eigen/src/MetisSupport/Open Notebook.onetoc2
HW07/eigen/Eigen/src/misc/Open Notebook.onetoc2
HW07/eigen/Eigen/src/OrderingMethods/Open Notebook.onetoc2
HW07/eigen/Eigen/src/PardisoSupport/Open Notebook.onetoc2
HW07/eigen/Eigen/src/PaStiXSupport/Open Notebook.onetoc2
HW07/eigen/Eigen/src/plugins/Open Notebook.onetoc2
HW07/eigen/Eigen/src/QR/Open Notebook.onetoc2
HW07/eigen/Eigen/src/SparseCholesky/Open Notebook.onetoc2
HW07/eigen/Eigen/src/SparseCore/Open Notebook.onetoc2
HW07/eigen/Eigen/src/SparseLU/Open Notebook.onetoc2
HW07/eigen/Eigen/src/SparseQR/Open Notebook.onetoc2
HW07/eigen/Eigen/src/SPQRSupport/Open Notebook.onetoc2
HW07/eigen/Eigen/src/StlSupport/Open Notebook.onetoc2
HW07/eigen/Eigen/src/SuperLUSupport/Open Notebook.onetoc2
HW07/eigen/Eigen/src/SVD/Open Notebook.onetoc2
HW07/eigen/Eigen/src/UmfPackSupport/Open Notebook.onetoc2
HW07/eigen/unsupported/doc/examples/Open Notebook.onetoc2
HW07/eigen/unsupported/doc/snippets/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/CXX11/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/Open Notebook.onetoc2
HW07/eigen/unsupported/test/mpreal/Open Notebook.onetoc2
HW07/eigen/bench/btl/generic_bench/init/Open Notebook.onetoc2
HW07/eigen/bench/btl/generic_bench/static/Open Notebook.onetoc2
HW07/eigen/bench/btl/generic_bench/timers/Open Notebook.onetoc2
HW07/eigen/bench/btl/generic_bench/utils/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/BLAS/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/blaze/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/blitz/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/eigen2/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/eigen3/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/gmm/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/mtl4/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/STL/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/tensors/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/tvmet/Open Notebook.onetoc2
HW07/eigen/bench/btl/libs/ublas/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/functors/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/products/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/util/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Geometry/arch/Open Notebook.onetoc2
HW07/eigen/Eigen/src/LU/arch/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/CXX11/src/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/AutoDiff/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/BVH/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/Eigenvalues/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/EulerAngles/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/FFT/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/IterativeSolvers/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/KroneckerProduct/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/LevenbergMarquardt/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/MatrixFunctions/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/MoreVectorization/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/NonLinearOptimization/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/NumericalDiff/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/Polynomials/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/Skyline/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/SparseExtra/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/SpecialFunctions/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/Splines/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/AltiVec/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/AVX512/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/AVX/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/CUDA/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/Default/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/GPU/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/HIP/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/MSA/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/NEON/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/SSE/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/SYCL/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/ZVector/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/CXX11/src/Tensor/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/CXX11/src/TensorSymmetry/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/CXX11/src/ThreadPool/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/CXX11/src/util/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/SpecialFunctions/arch/Open Notebook.onetoc2
HW07/eigen/Eigen/src/Core/arch/HIP/hcc/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/CXX11/src/TensorSymmetry/util/Open Notebook.onetoc2
HW07/eigen/unsupported/Eigen/src/SpecialFunctions/arch/GPU/Open Notebook.onetoc2
*/*/*/*/*/*/*/*/*/*.onetoc*
Open Notebook.onetoc2
eigen/.hg
eigen/.hg/00changelog.i
eigen/.hg/branch
eigen/.hg/cache
eigen/.hg/dirstate
eigen/.hg/hgrc
eigen/.hg/Open Notebook.onetoc2
eigen/.hg/requires
eigen/.hg/store
eigen/.hg/undo.bookmarks
eigen/.hg/undo.branch
eigen/.hg/undo.desc
eigen/.hg/undo.dirstate
build
cpp_helpers/.git/
cpp_helpers/.git
scanviewer
robot_control/.ipynb_checkpoints/
robot_control/pyntcloud_plot.ply
robot_control/pyntcloud_plot.config.json
robot_control/pyntcloud_plot.html
robot_control/pyntcloud_plot_assets/
scanviewer.zip
